<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Login Employee API Test Cases">
		<classes>
			<class name="in.task_erp_api.testcases.LoginEmployeeAPITestCases" />
			<class name="in.task_erp_api.testcases.PriorityFolderAPITestCases" />
			<class name="in.task_erp_api.testcases.StatusFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.DesignationFolderAPITestCases" />
			<class name="in.task_erp_api.testcases.RoleFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.DepartmentFolderAPITestCases" />
			<class name="in.task_erp_api.testcases.EmployeeFolderAPITestCases" />
			<class name="in.task_erp_api.testcases.ProjectFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.VerificationStatusFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.TaskFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.NotificationFolderAPITestCases" />
			<class
				name="in.task_erp_api.testcases.MilestoneFolderAPITestCases" />
		</classes>
	</test>
</suite> 
